/**************BASICS**************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}





/**************SHARED**************/
.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

* {
    --color-white: #fff;
    --color-white-darker: #f2f2f2;
    --color-brown: #644b4f;
    --color-brown-dark: #33292a;
    --color-brown-lighter: #564546;
    --color-grey-dark: #333333;
    --color-pink: #efa69d;
    --color-pink-darker: #e9877b;
    --color-black: black;
}

.body {
    font-family: Roboto, sans-serif;
    border-radius: 5px;
}





/**************HEADER**************/


/**************nav**************/
.nav {
    background-color: var(--color-brown-dark);

    width: 100vw;
    height: 67px;
    display: flex;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.nav-container {
    width: 70vw;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

        @media (max-width: 768px) {
            .nav-container {
                display: none;
            }
        }


.nav-burger-container {
    position: relative;
    width: 80vw;
    margin: 0 auto;

    display: none;
}

        @media (max-width: 768px) {
            .nav-burger-container {
                display: block;
            }

            .nav-burger-container a:hover {
                transform: scale(1.1);
                translate: 1.25;
            }

            .burger-menu {
                width: 50px;
                height: 50px;

                position: absolute;
                top: 10%;
                right: 0%;
            }

            .burger-menu-img {
                background-image: url(/files/icons/pngegg.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;

                width: 100%;
                height: 100%;
            }
        }

.nav-container a {
    text-decoration: none;
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;

    display: inline-block;
    flex-grow: 1;

    border-radius: 15px;
    padding: 3px 0;
}

.nav-container a:hover {
    background-color: var(--color-brown-lighter);
    transform: scale(1.1);
    translate: 1.5;
}

.nav-container li {
    list-style: none;
}





/**************hero**************/
.hero {
    width: 100vw;
    height: 804px;
    position: relative;
}

.hero-image {
    background-image: url(/files/images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
}

.hero-text-container {
    width: 60%;

    position: absolute;
    bottom: 20%;
    left: 25%;
}

        @media (max-width: 768px) {
            .hero-text-container {
                width: 65%;
            }
        }

.hero-text {   
    font-size: 64px;
    color: white;
    line-height: 5rem;
    letter-spacing: -0.9px;

    display: flex;
    flex-wrap: wrap;
}

        @media (max-width: 500px) {
            .hero-text {   
                font-size: 50px;
            }
        }

.hero-text span {
    flex-basis: calc(100% / 1);
    text-align: end;
}





/**************MAIN**************/

/**************about-us**************/
.about-us {
    width: 70vw;
    height: 310px;
    margin: 10vh auto;
    display: flex;
    justify-content: space-between;
}

        @media (max-width: 768px) {
            .about-us {
                width: 80vw;
                height: 70vh;
                flex-direction: column;
            }
        }

.about-us-text {
    flex-basis: calc(100% / 2 - 2%);
}

            @media (max-width: 768px) {
            .about-us-text h2 {
                font-size: 40px;
            }  
            } 

.about-us-text p {
    font-size: 17px;
    margin-top: 5%;
}

        @media (max-width: 1365px) {
            .about-us-text p {
                font-size: 16px;
                margin-top: 3%;
            }
        }

        @media (max-width: 1110px) {
            .about-us-text p {
                font-size: 15px;
            }
        }

        @media (max-width: 980px) {
            .about-us-text p {
                font-size: 14px;
            }
        }

        @media (max-width: 870px) {
            .about-us-text p {
                font-size: 13px;
            }
        }

        @media (max-width: 768px) {
            .about-us-text p {
                font-size: 18px;
                margin: 5% 0;
            }
        }
    

.about-us-img-container {
    flex-basis: calc(100% / 2);
}

.about-us-img {
    background-image: url(/files/images/anneliese-phillips-uv4-vl3liKM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    width: 100%;
    height: 100%;
}





/**************what-we-do**************/
.what-we-do {
    width: 100vw;
    height: 70vh;

    background-color: var(--color-brown-dark);
}

        @media (max-width: 768px) {
            .what-we-do {
                height: fit-content;
            }
        }

.what-we-do-container {
    width: 70vw;
    height: 50vh;
    margin: 10vh auto;

    color: var(--color-white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

        @media (max-width: 768px) {
            .what-we-do-container {
                width: 80vw;
                height: fit-content;
            }
        }

.what-we-do-text {
    flex-basis: calc(100% / 3);
}

.what-we-do-text h2 {
    text-align: center;
}

            @media (max-width: 768px) {
                .what-we-do-text h2 {
                    font-size: 40px;
                }
            } 

.what-we-do-text p {
    font-size: 14px;
    margin-top: 3%;
}

            @media (max-width: 768px) {
                .what-we-do-text p {
                    margin: 3% 0;
                    font-size: 18px;
                }
            }

.what-we-do-icons {
    flex-basis: calc(100% / 3);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

        @media (max-width: 768px) {
            .what-we-do-icons {
                flex-direction: column;
            }   
        }

.what-we-do-icons h3 {
    text-align: center;
}

        @media (max-width: 768px) {
        .what-we-do-icons h3 {
            font-size: 30px;
        }  
        } 

.what-we-do-icon-container {
    flex-basis: calc(100% / 7);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

        @media (max-width: 870px) {
            .what-we-do-icon-container {
                flex-basis: calc(100% / 6);
            }
        }

        @media (max-width: 768px) {
            .what-we-do-icon-container {
                width: 150px;
                height: 190px;
                margin: 10px auto;

                flex-basis: auto;
            }
        }

.what-we-do-icon-container:hover {
    transform: scale(1.1);
    translate: 1.25;
}

.what-we-do-icon1 {
    background-image: url(/files/icons/hiking-white.png);
}

.what-we-do-icon2 {
    background-image: url(/files/icons/cycle-white.png);
}

.what-we-do-icon3 {
    background-image: url(/files/icons/water-white.png);
}

.what-we-do-icon4 {
    background-image: url(/files/icons/car-white.png);
}

.what-we-do-icon1,
.what-we-do-icon2,
.what-we-do-icon3,
.what-we-do-icon4 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    width: 100%;
    height: 100%;
}





/**************our-trips**************/
.our-trips {
    width: 70vw;
    margin: 10vh auto;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 10px;
}

            @media (max-width: 768px) {
                .our-trips {
                    width: 80vw;
                    height: auto;
                }
            }

.our-trips-container {
    flex-basis: calc(100% / 3 - 10px);

    height: 18vh;
}

            @media (min-width: 1500px) {
                .our-trips-container {
                    height: 20vh;
                }
            }

            @media (max-width: 768px) {
                .our-trips-container {
                    flex-basis: calc(100% / 1);
                    height: 30vh;
                }
            }

.our-trips-h2 {
    background-color: var(--color-white-darker);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

        @media (max-width: 768px) {
            .our-trips-h2 {
                height: 10vh;
                font-size: 25px;
            }
        }

.our-trips-img1 {
    background-image: url(/files/images/simon-english-48nerZQCHgo-unsplash.jpg);
}

.our-trips-img2 {
    background-image: url(/files/images/james-wheeler-ZOA-cqKuJAA-unsplash.jpg);
}

.our-trips-img3 {
    background-image: url(/files/images/charles-black-F7HGqkkMYAU-unsplash.jpg);
}

.our-trips-img4 {
    background-image: url(/files/images/holly-mandarich-UVyOfX3v0Ls-unsplash.jpg);
}

.our-trips-img5 {
    background-image: url(/files/images/patrick-szylar-45bM3XGqnDE-unsplash.jpg);
}

.our-trips-img6 {
    background-image: url(/files/images/chung-yee-tsang-wqxCKM0R6R8-unsplash.jpg);
}

.our-trips-img7 {
    background-image: url(/files/images/julian-bialowas-ilkTnuMunP8-unsplash.jpg);
}

.our-trips-img8 {
    background-image: url(/files/images/matej-drha-rbDzMcJsBkY-unsplash.jpg);
}

.our-trips-photos {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}





/**************contacts**************/
.contacts {
    width: 100vw;
    height: 30vh;
    background-color: var(--color-brown);
}

            @media (max-width: 1000px) {
                .contacts {
                    height: auto;
                }
            }

            @media (max-width: 605px) {
                .contacts {
                    height: auto;
                }
            }

.contacts-container {
    width: 70vw;
    height: 25vh;
    margin: 2.5vh auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

            @media (max-width: 1000px) {
                .contacts-container {
                    flex-direction: column;
                    justify-content: space-between;
                    margin: 7vh auto;
                }
            }

            @media (max-width: 768px) {
                .contacts-container {
                    width: 80vw;
                    height: auto;
                    margin: 7vh auto;
                }
            }

.contacts-heading {
    flex-grow: 1;
    height: 17vh;
    margin-right: 5vw;

    color: var(--color-white);
    font-weight: 700;
    font-size: 18px;
}

            @media (max-width: 1000px) {
                .contacts-heading {
                    width: auto;
                    height: auto;
                    font-size: 22px;
                    margin-right: 0;
                    margin-bottom: 3vh;
                }
            }

.contacts-heading h2 {
    width: 200px;
}

            @media (max-width: 1000px) {
                .contacts-heading h2 {
                    width: auto;
                }
            }

.contacts-content {
    flex-grow: 2;

    height: 17vh;
    margin: 5px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

            @media (max-width: 1000px) {
                .contacts-content {
                    margin: 40px 0;
                }
            }

.contacts-paragraphs {
    color: var(--color-white);
    font-size: 16px;
}

.contacts-paragraphs p:nth-child(2) {
    margin-top: 1rem;
}

.contacts-button {
    padding: 13px 5px 5px 5px;
    width: 130px;
    height: 45px;
    text-align: center;

    font-weight: 700;
    text-decoration: none;
    color: var(--color-black);
    
    background-color: var(--color-white);    
}

            @media (max-width: 1000px) {
                .contacts-button {
                    margin-top: 5vh;
                }
            }

.contacts-button:hover {
    transform: scale(1.1);
    translate: 1.25;
}





/**************reviews**************/


/**************gallery**************/


/**************FOOTER*************/